<h1>Labs Ping Pong Tournament:</h1>
<h2>2016 Random Doubles Edition</h2>
<main id="tournament">
	<ul class="round round-1">
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top">David "I'm better than" Zhu &<span>14</span></li>
		<li class="game game-top-bottom">Sean "the wrecking ball" Gee </li>
		<li class="game game-spacer"><span class="time">1:00 - Round 1 Game 1</span></li>
		<li class="game game-bottom-top winner">Alex "Drapes" Curtin &<span>21</span></li>
		<li class="game game-bottom-bottom winner">Calvin "Ancient Chinese Secret" Wang</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top">Russel "Mania" Valera &<span>6</span></li>
		<li class="game game-top-bottom ">Roschelle "give 'em hell" Lowe</li>
		<li class="game game-spacer"><span class="time">1:15 - Round 1 Game 6</span></li>
		<li class="game game-bottom-top winner">Kris "Dr." Drey &<span>21</span></li>
		<li class="game game-bottom-bottom winner">Larry "Elizondo Mountain Dew Herbert Camacho" Gordon</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top winner">Matt "Champion." McLean &<span>21</span></li>
		<li class="game game-top-bottom winner">William "Tall-Man" Springer</li>
		<li class="game game-spacer"><span class="time">1:30 - Round 1 Game 3</span></li>
		<li class="game game-bottom-top">Peter McInerney &<span>17</span></li>
		<li class="game game-bottom-bottom">Jason Spangenthal</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top">Ashley "Eh" Nelson &<span>17</span></li>
		<li class="game game-top-bottom ">Nilou Ghazizadeh</li>
		<li class="game game-spacer"><span class="time">1:45 - Round 1 Game 4</span></li>
		<li class="game game-bottom-top winner">Andy "Slow hands" Trejo<span>21</span></li>
		<li class="game game-bottom-bottom winner">Grant "Master Splinter" Empey</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top">Conny "what technique" Wu &<span>5</span></li>
		<li class="game game-top-bottom ">Charlyn "unicoooorn" Gonda</li>
		<li class="game game-spacer"><span class="time">2:00 - Round 1 Game 5</span></li>
		<li class="game game-bottom-top winner">Chantal "Hit Girl" Anderson &<span>21</span></li>
		<li class="game game-bottom-bottom winner">Nicolas "Oh la la so deep" Cabrera</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top winner">ASHOD! &<span>21</span></li>
		<li class="game game-top-bottom winner">Ghadi "King Pong" Sayegh</li>
		<li class="game game-spacer"><span class="time">2:15 - Round 2 Game 2</span></li>
		<li class="game game-bottom-top">SMASHLEY! Bonnard &<span>19</span></li>
		<li class="game game-bottom-bottom">Juan "illegal serve" Perrier</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top winner">Reed "deer" Silverstein &<span>21</span></li>
		<li class="game game-top-bottom winner">Justin "the rookie" Wang</li>
		<li class="game game-spacer"><span class="time">2:30 - Round 1 Game 7</span></li>
		<li class="game game-bottom-top">Lindsey "Ping Me" Thomas &<span>15</span></li>
		<li class="game game-bottom-bottom">Alec "Gladiator" Raeside</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top winner">Gabe "Ghost" Rinaldi &<span>21</span></li>
		<li class="game game-top-bottom winner">Somesh "Newbie" Kumar</li>
		<li class="game game-spacer"><span class="time">2:45 - Round 1 Game 8</span></li>
		<li class="game game-bottom-top">Anya Tran &<span>11/span></li>
		<li class="game game-bottom-bottom">Andrew "GoonSquad" Martin</li>

		<li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-2">
		<li class="spacer">&nbsp;</li>
<div class="current">
	<li class="game game-top-top">David "I'm better than" Zhu &<span>0</span></li>
	<li class="game game-top-bottom">Sean "the wrecking ball" Gee </li>
	<li class="game game-spacer"><span class="time">1:00 - Round 1 Game 1</span></li>
	<li class="game game-bottom-top">Alex "Drapes" Curtin &<span>0</span></li>
	<li class="game game-bottom-bottom">Calvin "Ancient Chinese Secret" Wang</li>
</div>
		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer"><span class="time">3:15 - Round 2 Game 2</span></li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer"><span class="time">3:30 - Round 2 Game 3</span></li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer"><span class="time">3:45 - Round 2 Game 4</span></li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-3">
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer"><span class="time">4:00 - Round 3 Game 1</span></li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer"><span class="time">4:15 - Round 3 Game 2</span></li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-4">
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer"><span class="time">4:30 - Championship Battle</span></li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
	</ul>
</main>
