<h1>Labs Ping Pong Tournament:</h1>
<h2>2016 Random Doubles Edition</h2>
<main id="tournament">
	<ul class="round round-1">
		<li class="spacer">&nbsp;</li>
		<div class="">
		<li class="game game-top-top">David "I'm better than" Zhu<span>0</span></li>
		<li class="game game-top-bottom">& Sean Gee </li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top">Alex "Drapes" Curtin &<span>0</span></li>
		<li class="game game-bottom-bottom">Calvin "Ancient Chinese Secret" Wang</li>
    </div>
		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top">ASHOD! &<span>10</span></li>
		<li class="game game-top-bottom">Ghadi "King Pong" Sayegh</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top">SMASHLEY! Bonnard &<span>0</span></li>
		<li class="game game-bottom-bottom">Juan "illegal serve" Perrier</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top">Matt "Champion." McLean &<span>0</span></li>
		<li class="game game-top-bottom ">William "Tall-Man" Springer</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top">Peter McInerney &<span>0</span></li>
		<li class="game game-bottom-bottom">Jason Spangenthal</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top">Ashley "Eh" Nelson &<span>0</span></li>
		<li class="game game-top-bottom ">Peggy "Pegster" Ng</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top">Grant "Master Splinter" Empey<span>0</span></li>
		<li class="game game-bottom-bottom">Andy "Slow hands" Trejo</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top">Conny "what technique" Wu &<span>0</span></li>
		<li class="game game-top-bottom ">Charlyn "unicoooorn" Gonda</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top">Chantal "Hit Girl" Anderson &<span>0</span></li>
		<li class="game game-bottom-bottom">Nicolas "Oh la la so deep" Cabrera</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top">Russel "Mania" Valera &<span>0</span></li>
		<li class="game game-top-bottom ">Roschelle "give 'em hell" Lowe</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top">Kris "Dr." Drey &<span>0</span></li>
		<li class="game game-bottom-bottom">Larry "Elizondo Mountain Dew Herbert Camacho" Gordon</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top">Reed "deer" Silverstein &<span>0</span></li>
		<li class="game game-top-bottom ">Justin "the rookie" Wang</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top">Lindsey "Ping Me" Thomas &<span>0</span></li>
		<li class="game game-bottom-bottom">Alec "Gladiator" Raeside</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top">Gabe "Ghost" Rinaldi &<span>0</span></li>
		<li class="game game-top-bottom ">Somesh "Newbie" Kumar</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top">Andrew "GoonSquad" Martin<span>0</span></li>
		<li class="game game-bottom-bottom">& Anya Tran</li>

		<li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-2">
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-3">
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-4">
		<li class="spacer">&nbsp;</li>

		<li class="game game-top-top pending">winning<span>0</span></li>
		<li class="game game-top-bottom pending">team </li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom-top pending">winning<span>0</span></li>
		<li class="game game-bottom-bottom pending">team</li>

		<li class="spacer">&nbsp;</li>
	</ul>
</main>
